.bg-green {
  background-color: #495e57;
}

.text-green {
  color: #495e57;
}

.bg-yellow {
  background-color: #f4ce14;
}

.text-yellow {
  color: #f4ce14;
}

a.text-yellow:hover {
  color: white;
}

.bg-gray {
  background-color: #e4e4e4;
}

section {
  padding-top: 90px;
  padding-bottom: 90px;
}

#hero-text-container {
  margin-bottom: 180px;
}

@media (max-width: 768px) {
  #hero-text-container {
    margin-bottom: 30px;
  }
}
