* {
  font-family: "Markazi Text", serif;
}

html {
  scroll-behavior: smooth;
}

p,
.small,
button,
a {
  font-family: "Karla", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h2 {
  font-size: 4rem;
  font-weight: 400;
}

h3 {
  font-weight: 400;
  font-size: 2.5rem;
}

h4 {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 1.325rem;
}

.display,
a,
.button {
  font-size: 1.125rem;
}

.card-title {
  font-size: 1.325rem;
  font-family: "Markazi Text", serif;
  font-weight: bold;
}

.bg-green {
  background-color: #495e57;
}

.text-green {
  color: #495e57;
}

.bg-yellow {
  background-color: #f4ce14;
}

.text-yellow {
  color: #f4ce14;
}

a.text-yellow:hover {
  color: white;
}

.pill {
  background-color: #f4ce14;
  border-radius: 16px;
  line-height: 24px;
}

.bg-gray {
  background-color: #e4e4e4;
}

/* button styling */

.button {
  border-radius: 15px;
  padding: 7px 30px;
  border: none;
  transition: 0.2s ease-in-out;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
  height: fit-content;
}

.button:hover {
  color: white;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
}

.button:active {
  color: white;
}

section {
  padding-top: 90px;
  padding-bottom: 90px;
}

footer h4 {
  font-family: "Markazi Text", serif;
  font-weight: 400;
  font-size: 1.5rem;
}

#hero-text-container {
  margin-bottom: 180px;
}

@media (max-width: 768px) {
  #hero-text-container {
    margin-bottom: 30px;
  }
}
